@import "variables";
@import "mixins";



// main styless

.container {
  width: 1010px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  gap: 305px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.section-title {
  color: $main-color;
  font-size: 80px;
  font-weight: 700;
  font-family: $first-font;
}

img{
  width: 100%;

}

// header, section-welcome

.section-welcome {
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
}

.page-header {
  padding-top: 47px;
  width: 1010px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 235px;
  position: absolute;
  z-index: 5;
}
// .nav-menu {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.is-sticky {
  padding: 18px 0;
  width: 1055px;
  justify-content: center;
  align-items: center;
  gap: 397px;
  position: fixed;
  background: #202020;
  animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.navbar {
  @include flex-center;

  li {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-family: $second-font;
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $main-color;
}

.main-title {
  padding: 402px 0 119px;
}

// section meet

.section-meet {
  background: #202020;

  h3 {
    color: #faeb49;
    font-size: 48px;
    font-weight: 700;
    padding-top: 96px;
    font-family: $first-font;
    padding-bottom: 40px;
  }
  p {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    font-family: $second-font;
  }
}
.section-meet__numbers {
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  padding: 40px 0 102px;

  span {
    font-size: 48px;
    font-weight: 700;
    font-family: $first-font;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    font-family: $second-font;
    margin-top: 5px;
  }
}
.section-meet__images {
  position: relative;
  margin-top: 25px;

  img{
    width: 268px;
    height: 409px;
  }
}

.section-meet__ellipse {
  position: absolute;
  left: 0;
}

//
.section-projects {
  background: #3c3c3c;
  padding: 86px 0;
}

.wrapper__big {
  background-color: #fffef2;
  border-radius: 24px;
  padding: 24px 20px;
  margin-bottom: 83px;

  img {
    height: 458px;
    width: 970px;
    border: 13px;
  }

  h3 {
    color: #565656;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0 22px;
    font-family: $first-font;
  }

  p {
    color: #000;
    padding-right: 400px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    font-family: $second-font;
  }
}

.wrapper__small {
  background-color: #fffef2;
  border-radius: 24px;
  padding: 20px;

  img {
    border: 13px;
    width: 100%;
  }

  h3 {
    color: #565656;
    font-size: 21px;
    font-weight: 700;
    font-family: $first-font;
    padding: 22px 0 20px;
  }
}
.container-for-wrappers {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


// section dessign

.section-design {
  background: #202020;
  padding: 82px 0 138px;
}
.design__images {
  display: flex;
  gap: 26px;
  padding-top: 26px;
}

.design__newspaper{
  position: relative;
  padding-top: 36px;
}

.design__newspaper::after {
  content: "";
  background: url("../images/Soft\ Star.png");
  width: 268px;
  height: 268px;
  display: block;
  position: absolute;
  left: calc(50% - 134px);
  top: calc(50% - 134px);
}

.design__corner{
  position: relative;
}

.design__corner::after {
  content: "";
  background: url("../images/Butterfly.png");
  width: 187px;
  height: 192px;
  display: block;
  position: absolute;
  left: calc(50% - 93px);
  top: calc(50% - 96px);
}

.design__droom{
  position: relative;
}

.design__droom::after {
  content: "";
  background: url("../images/Asterisk\ 1.png");
  width: 233px;
  height: 225px;
  display: block;
  position: absolute;
  left: calc(50% - 117px);
  top: calc(50% - 112px);
}


// section end

.section-ending {
  background: center center/cover no-repeat url(../images/Rectangle\ 8.png);
  background-attachment: fixed;
  color: $main-color;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding: 303px 0 323px;
  font-family: $first-font;
}

//footer

footer {
  background-color: #202020;
  padding: 78px 0 30px;
}
.copyright {
  color: $main-color;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: $second-font;
  padding-top: 21px;
}

.footer-info {
  border-radius: 139px;
  border: 1px solid var(--Gray-6, #f2f2f2);
  @include flex-center;
  padding: 42px 0;
}

.footer-info--text {
  padding-left: 45px;
  p {
    color: $main-color;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: $first-font;
  }
  span {
    color: $main-color;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: $second-font;
  }
}

.footer--text-details {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 17px;
}

.footer-info--media {
  @include flex-center;
  gap: 34px;

  width: 198px;
  padding-top: 163px;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .container {
    width: 663px;
  }

  .is-sticky{
    display: none;
  }

  .container {
    gap: 11px;
  }

  .navbar {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 6rem;
    left: 100%;
    flex-direction: column;
    display: flex;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.navbar.active {
  left: -14em;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  .wrapper__big {
    img {
      width: 623px;
      height: 458px;
    }
    p {
      padding: 0;
    }
  }

  .wrapper__small--disabled--circle {
    display: none;
  }
  .wrapper__small {
    img {
      width: 273px;
      height: 438px;
    }
  }
  
  .design__newspaper__image-main {
    width: 704px;
    height: 414px;
  }

  .design__corner__image-main,
  .design__droom__image-main {
    width: 334px;
    height: 325px;
  }


  .footer-info {
    padding: 31px 17px;
  }

  .footer-info--text {
    p {
      font-size: 46px;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  
  .container {
    max-width: 343px;
  }
  .container-flex {
    gap: 0;
  }

  .is-sticky{
    display: none;
  }

    .navbar {
        position: fixed;
        top: 6rem;
        left: 100%;
        flex-direction: column;
      display: flex;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
    }

    .navbar.active {
      left: -16em;
    }


    .hamburger {
        display: block;
        cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .main-title {
    font-size: 48px;
  }
  .section-meet {
    h3 {
      font-size: 36px;
    }
  }
  .section-meet__numbers {
    span {
      font-size: 36px;
    }
    gap: 14px;
  }

  .container-for-wrappers {
    display: block;
  }
  .wrapper__big {
    img {
      width: 311px;
      height: 278px;
    }
  }
  .wrapper__big {
    h3 {
      font-size: 32px;
    }
    p {
      padding: 0;
    }
  }
  .wrapper__small {
    img {
      width: 299px;
      height: 363px;
    }
  }
  .wrapper__small--disabled,
  .wrapper__small--disabled--circle {
    display: none;
  }

  .section-design {
    h2 {
      font-size: 36px;
    }
  }
  .design__images {
    display: block;
  }


  .design__corner__image-main,
  .design__droom__image-main,
  .design__newspaper__image-main {
    width: 343px;
    height: 325px;
  }


  .section-ending {
    font-size: 24px;
  }

  .footer-info {
    padding: 8px;
  }

  .footer-info--image {
    width: 52px;
    height: 51px;
  }

  .footer-info--text {
    padding-left: 20px;
    p {
      font-size: 20px;
    }
  }

  .footer-info--image {
    svg {
      width: 52px;
      height: 51px;
    }
  }

  .footer--text-details {
    padding-top: 4px;
    span {
      font-size: 15px;
    }
    svg {
      width: 33px;
      height: 16px;
    }
  }

  .copyright {
    font-size: 14px;
  }
}
